# Исследование надежности заемщиков.

### Шаг 1. Обзор данных

In [38]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
data.info()
display(data.head(15))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости

In [39]:
import warnings
warnings.filterwarnings('ignore')

При изучении данных в таблице видим, что данные стажа во многих строках имеют отрицательные значения. Вероятно такаяаномалия возникла из-за объединения данных из разных баз, в одной учет может быть в часах в другой в днях. До выполнения заполнения пропусков по столбцу "days_employed" считаю перевести данные в один формат.

In [40]:
data['days_employed'] = data['days_employed'].apply(abs)
display(data.head(15))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости

### Шаг 2.1 Заполнение пропусков

In [41]:
print(len(data[data['days_employed'].isna()])) 
print(len(data[data['total_income'].isna()]))

2174
2174

In [42]:
days_employed_avg = data['days_employed'].median()
data['days_employed'] = data['days_employed'].fillna(value=days_employed_avg)
total_income_avg = data['total_income'].median()
data['total_income'] = data['total_income'].fillna(value=total_income_avg)
data.info()
display(data.head(15))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,2194.220567,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017.937533,сыграть свадьбу
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости

При анализе полученных данных выявлены следующие ошибки:
1. обнаружены пропуски в столбцах "общий трудовой стаж в днях" и "ежемесячный доход"
2. доля пропущенных значений составляет 10% от общего количесва данных 
[(21525-19351)/21525*100=10] в каждом столбце
3. при подаче заявки на кредит потенциальный заемщик врядли допускает пропуски в предложенной к заполнинию анкете банка. более вероятные причины пояления пропусков в файле:  - ошибка сотрудника банка при занесении данных в базу
- техническая ошибка при подготовке выгрузки данных
4. при удалении строк содержащих пропуски приведет к потере 10% данных, что может вызвать искажение информации и выводах сделанных на ее основании, поэтому лучшим выходом из сложившейся ситации считаю замену пропущенных данных медианным значением по столбцу, т.к. данные в столбцах являются колличественными переменными
5. для замены пропусков в данных выбран метод медианных значений по причине того, что среднее значение некорректно будет характеризовать данные, когда некоторые значения сильно выделяются среди большинства.

### Шаг 2.2 Проверка данных на аномалии и исправления.

1. Анамалия - слишком большиые значения в столбце "days_employed" - возможно часть данных указана не в днях, а в часах. Возьмем для проверки 16500 - это колличество дней в среднем у человка за весь его трудовой стаж.

In [43]:
data.loc[data['days_employed'] >16500, 'days_employed'] = data.loc[data['days_employed'] >16500, 'days_employed'] / 24
display(data['days_employed'] >16500)
display(data.head(50))

0        False
1        False
2        False
3        False
4        False
         ...
21520    False
21521    False
21522    False
21523    False
21524    False
Name: days_employed, Length: 21525, dtype: bool

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,14177.753002,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,2194.220567,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017.937533,сыграть свадьбу
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,16678.380705,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля
20,1,1311.604166,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552.644578,недвижимость
21,1,253.685166,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812.203909,приобретение автомобиля
22,1,1766.644138,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681.140731,на покупку подержанного автомобиля
23,0,272.981385,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265.720871,сыграть свадьбу
24,1,14106.331371,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,15147.853723,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
26,0,2194.220567,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017.937533,образование
27,0,529.191635,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848.983691,строительство собственной недвижимости
28,1,717.274324,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863.237306,строительство собственной недвижимости
29,0,2194.220567,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017.937533,строительство жилой недвижимости
30,1,13982.569521,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456.067993,операции с коммерческой недвижимостью
31,0,1682.083438,47,начальное,3,женат / замужем,0,F,сотрудник,0,275485.684538,жилье
32,0,4649.910832,34,СРЕДНЕЕ,1,гражданский брак,1,F,сотрудник,1,139057.464207,на проведение свадьбы
33,0,1548.637544,48,среднее,1,женат / замужем,0,F,компаньон,0,157245.786233,покупка жилья
34,0,4488.067031,35,среднее,1,женат / замужем,0,F,сотрудник,0,104660.449203,операции со своей недвижимостью
35,0,16417.544674,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805.677436,на проведение свадьбы
36,0,176.216688,33,среднее,1,Не женат / не замужем,4,M,сотрудник,0,138830.650734,автомобили
37,0,6448.810860,43,ВЫСШЕЕ,0,гражданский брак,1,F,компаньон,0,154128.878672,приобретение автомобиля
38,0,597.881827,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247.298639,образование
39,0,650.587796,31,высшее,0,гражданский брак,1,F,компаньон,0,754240.797248,заняться образованием
40,0,1030.362606,30,среднее,1,Не женат / не замужем,4,M,компаньон,0,142865.579146,покупка недвижимости
41,0,2194.220567,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017.937533,сделка с подержанным автомобилем
42,0,1257.496190,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065.089021,получение образования
43,0,4375.681384,43,неоконченное высшее,2,в разводе,3,F,компаньон,0,272957.133509,приобретение автомобиля
44,1,1362.041728,26,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,100780.496749,на покупку своего автомобиля
45,1,1039.451741,49,среднее,1,Не женат / не замужем,4,F,сотрудник,0,106385.919724,заняться образованием
46,2,2262.712304,37,среднее,1,женат / замужем,0,F,компаньон,0,182682.459898,сделка с подержанным автомобилем
47,1,2689.137274,33,высшее,0,гражданский брак,1,M,госслужащий,0,356277.909345,на проведение свадьбы
48,0,3341.067886,45,среднее,1,женат / замужем,0,F,сотрудник,0,162065.516450,строительство собственной недвижимости
49,0,1181.443228,54,среднее,1,женат / замужем,0,F,сотрудник,0,44591.806888,автомобиль

2. Проверим корректность данных в колонке "children". Ошибки 20 и -1 вызваны скорее всего оппечаткой при вводе данных.

In [44]:
data.children.unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [45]:
data = data[(data['children'] != 20)]
data['children'] = data['children'].replace(-1, 1)
data.children.unique()

array([1, 0, 3, 2, 4, 5])

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21449 entries, 0 to 21524
Data columns (total 12 columns):
children            21449 non-null int64
days_employed       21449 non-null float64
dob_years           21449 non-null int64
education           21449 non-null object
education_id        21449 non-null int64
family_status       21449 non-null object
family_status_id    21449 non-null int64
gender              21449 non-null object
income_type         21449 non-null object
debt                21449 non-null int64
total_income        21449 non-null float64
purpose             21449 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

3. Проверим корректность данных в колонке "gender"

In [47]:
data.gender.unique()

array(['F', 'M', 'XNA'], dtype=object)

In [48]:
data = data[data['gender'] != 'XNA']
data.gender.unique()

array(['F', 'M'], dtype=object)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21448 entries, 0 to 21524
Data columns (total 12 columns):
children            21448 non-null int64
days_employed       21448 non-null float64
dob_years           21448 non-null int64
education           21448 non-null object
education_id        21448 non-null int64
family_status       21448 non-null object
family_status_id    21448 non-null int64
gender              21448 non-null object
income_type         21448 non-null object
debt                21448 non-null int64
total_income        21448 non-null float64
purpose             21448 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

4. Проверим на наличие анамалий колонку "dob_years". 0 - заполним по аналогии с пропусками медиальными занчениями по столбцу

In [50]:
data = data.sort_values(by='dob_years')
display(data.head(50))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10188,0,15486.053276,0,среднее,1,женат / замужем,0,M,пенсионер,0,102621.701671,операции с недвижимостью
2469,0,794.876230,0,среднее,1,гражданский брак,1,F,сотрудник,0,95967.700317,сыграть свадьбу
7075,1,4221.866597,0,высшее,0,Не женат / не замужем,4,M,компаньон,0,161439.581182,на покупку своего автомобиля
13521,0,681.907359,0,высшее,0,Не женат / не замужем,4,M,сотрудник,0,115165.323707,строительство жилой недвижимости
1040,0,1158.029561,0,высшее,0,в разводе,3,F,компаньон,0,303994.134987,свой автомобиль
4064,1,2194.220567,0,среднее,1,гражданский брак,1,M,компаньон,0,145017.937533,ремонт жилью
12297,0,1572.052136,0,среднее,1,женат / замужем,0,F,сотрудник,0,81994.469031,получение дополнительного образования
16042,2,176.404487,0,среднее,1,женат / замужем,0,F,сотрудник,0,137563.630693,жилье
18851,0,10637.001569,0,среднее,1,женат / замужем,0,F,госслужащий,0,136537.132625,дополнительное образование
11481,2,1611.360609,0,среднее,1,женат / замужем,0,M,сотрудник,0,236698.919494,строительство жилой недвижимости
10364,2,1935.402251,0,высшее,0,в разводе,3,F,госслужащий,0,114599.070321,высшее образование
4922,0,14021.500244,0,высшее,0,вдовец / вдова,2,F,пенсионер,1,183556.355624,свой автомобиль
11077,0,742.201082,0,среднее,1,гражданский брак,1,F,компаньон,0,198911.882322,на покупку автомобиля
3704,0,4288.714410,0,среднее,1,в разводе,3,F,сотрудник,0,191033.656419,автомобили
15433,0,1409.500178,0,среднее,1,в разводе,3,F,сотрудник,0,73509.183779,приобретение автомобиля
9062,1,1720.866870,0,среднее,1,женат / замужем,0,F,сотрудник,0,220298.348654,профильное образование
14477,0,457.249347,0,среднее,1,женат / замужем,0,M,сотрудник,0,226678.952034,получение образования
15140,2,4294.221865,0,среднее,1,женат / замужем,0,F,сотрудник,0,81027.591032,покупка жилья для сдачи
10545,0,1753.448265,0,высшее,0,женат / замужем,0,F,компаньон,0,77733.846697,дополнительное образование
17613,0,2156.390273,0,высшее,0,женат / замужем,0,F,сотрудник,0,114124.233190,покупка коммерческой недвижимости
18415,0,899.685681,0,среднее,1,гражданский брак,1,F,сотрудник,0,76376.500925,на проведение свадьбы
14659,0,16456.222702,0,среднее,1,Не женат / не замужем,4,F,пенсионер,0,34974.450366,жилье
6778,0,1478.092467,0,высшее,0,Не женат / не замужем,4,F,сотрудник,0,157362.970952,получение высшего образования
13187,0,334.837285,0,СРЕДНЕЕ,1,гражданский брак,1,M,сотрудник,0,174105.987951,сыграть свадьбу
11664,0,2613.538371,0,среднее,1,женат / замужем,0,F,компаньон,0,73338.168421,заняться высшим образованием
2487,0,2497.754414,0,среднее,1,женат / замужем,0,F,сотрудник,1,91367.005172,недвижимость
10384,1,1605.506161,0,высшее,0,женат / замужем,0,F,сотрудник,0,153478.301459,сделка с подержанным автомобилем
3147,2,906.519446,0,высшее,0,женат / замужем,0,F,компаньон,0,215477.004597,операции с жильем
99,0,14439.234121,0,Среднее,1,женат / замужем,0,F,пенсионер,0,71291.522491,автомобиль
8574,0,2194.220567,0,среднее,1,женат / замужем,0,F,сотрудник,0,145017.937533,недвижимость
20577,0,13822.552977,0,среднее,1,Не женат / не замужем,4,F,пенсионер,0,129788.762899,недвижимость
270,3,1872.663186,0,среднее,1,женат / замужем,0,F,сотрудник,0,102166.458894,ремонт жилью
17306,0,5000.830630,0,среднее,1,гражданский брак,1,F,компаньон,0,83019.106740,свадьба
1386,0,5043.219890,0,высшее,0,женат / замужем,0,M,госслужащий,0,240523.618071,сделка с автомобилем
13117,0,1095.386622,0,высшее,0,женат / замужем,0,M,сотрудник,0,250757.078968,покупка жилья
12729,0,14796.238577,0,среднее,1,вдовец / вдова,2,F,пенсионер,0,54815.744162,образование
18539,0,4852.175654,0,Высшее,0,Не женат / не замужем,4,M,компаньон,0,254837.819494,покупка жилья
7034,0,15252.824210,0,высшее,0,Не женат / не замужем,4,F,пенсионер,0,263121.074528,образование
8061,0,15269.078026,0,высшее,0,Не женат / не замужем,4,F,пенсионер,0,61804.271999,высшее образование
21179,2,108.967042,0,высшее,0,женат / замужем,0,M,компаньон,0,240702.007382,строительство жилой недвижимости
11468,1,4774.343347,0,высшее,0,гражданский брак,1,F,госслужащий,0,180348.697770,свадьба
9588,0,1759.038033,0,высшее,0,гражданский брак,1,F,компаньон,0,224510.589360,строительство собственной недвижимости
18732,2,986.789230,0,высшее,0,гражданский брак,1,F,компаньон,0,287328.538328,образование
6411,0,2194.220567,0,высшее,0,гражданский брак,1,F,пенсионер,0,145017.937533,свадьба
8672,0,2442.763520,0,среднее,1,Не женат / не замужем,4,M,сотрудник,0,216923.489903,сделка с подержанным автомобилем
6071,1,162.936952,0,среднее,1,гражданский брак,1,F,сотрудник,0,106956.800302,на покупку автомобиля
8784,0,477.324360,0,среднее,1,женат / замужем,0,M,сотрудник,0,303873.383767,заняться высшим образованием
19829,0,2194.220567,0,среднее,1,женат / замужем,0,F,сотрудник,0,145017.937533,жилье
17215,1,1524.869300,0,среднее,1,женат / замужем,0,F,сотрудник,0,109923.399907,автомобили
11990,1,202.600508,0,СРЕДНЕЕ,1,женат / замужем,0,F,компаньон,1,167889.299943,на покупку автомобиля

In [51]:
dob_years_median = data['dob_years'].median()
data.loc[data['dob_years'] ==0, 'dob_years'] = dob_years_median
data = data.sort_values(by='dob_years')
display(data.head(50))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
15659,0,948.225743,19.0,Неоконченное высшее,2,гражданский брак,1,F,компаньон,0,167211.393638,на покупку подержанного автомобиля
1981,0,724.492610,19.0,СРЕДНЕЕ,1,Не женат / не замужем,4,F,компаньон,0,59124.071006,свой автомобиль
2725,0,115.876036,19.0,среднее,1,Не женат / не замужем,4,F,компаньон,0,131967.261889,операции с коммерческой недвижимостью
11749,0,757.612624,19.0,среднее,1,женат / замужем,0,F,компаньон,0,120759.031042,покупка недвижимости
4098,0,111.762790,19.0,среднее,1,гражданский брак,1,M,компаньон,0,91876.754772,на проведение свадьбы
8316,0,556.088508,19.0,среднее,1,Не женат / не замужем,4,F,сотрудник,0,68524.106035,высшее образование
5563,0,885.268574,19.0,неоконченное высшее,2,Не женат / не замужем,4,M,сотрудник,0,91098.233149,покупка жилья для сдачи
10235,0,793.358581,19.0,среднее,1,женат / замужем,0,F,сотрудник,0,131308.777259,ремонт жилью
13021,0,695.968951,19.0,неоконченное высшее,2,Не женат / не замужем,4,F,компаньон,0,165269.027482,автомобили
9218,0,322.024011,19.0,среднее,1,гражданский брак,1,F,компаньон,0,103676.482282,сыграть свадьбу
766,0,796.983636,19.0,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,80812.147802,покупка жилья для сдачи
20230,0,509.969922,19.0,неоконченное высшее,2,Не женат / не замужем,4,F,госслужащий,0,75787.415536,покупка коммерческой недвижимости
12047,0,1020.183130,19.0,среднее,1,Не женат / не замужем,4,M,сотрудник,1,93343.132708,операции со своей недвижимостью
4052,0,2194.220567,19.0,среднее,1,гражданский брак,1,M,сотрудник,0,145017.937533,на проведение свадьбы
16781,0,215.009878,20.0,среднее,1,гражданский брак,1,F,компаньон,0,102607.594044,на проведение свадьбы
4386,0,946.198260,20.0,среднее,1,женат / замужем,0,M,сотрудник,1,141297.486620,строительство жилой недвижимости
6816,0,886.080601,20.0,высшее,0,Не женат / не замужем,4,M,сотрудник,0,118423.604542,покупка жилья
19541,0,908.459444,20.0,Среднее,1,Не женат / не замужем,4,F,сотрудник,0,65626.631458,жилье
1614,0,128.553636,20.0,среднее,1,женат / замужем,0,F,компаньон,0,201818.035916,ремонт жилью
18637,0,1197.316592,20.0,неоконченное высшее,2,Не женат / не замужем,4,M,компаньон,0,100129.904262,свой автомобиль
5677,1,341.222995,20.0,неоконченное высшее,2,женат / замужем,0,F,компаньон,0,86565.423291,получение дополнительного образования
12344,1,284.228572,20.0,среднее,1,женат / замужем,0,M,сотрудник,0,136808.951023,получение высшего образования
1974,0,1018.350987,20.0,среднее,1,Не женат / не замужем,4,M,компаньон,0,155221.661349,автомобиль
16893,0,2194.220567,20.0,среднее,1,гражданский брак,1,F,сотрудник,0,145017.937533,жилье
1816,1,2194.220567,20.0,среднее,1,женат / замужем,0,M,сотрудник,0,145017.937533,на покупку своего автомобиля
18277,0,943.560849,20.0,неоконченное высшее,2,гражданский брак,1,F,сотрудник,0,132675.254714,сделка с автомобилем
9294,0,119.508564,20.0,высшее,0,Не женат / не замужем,4,F,компаньон,0,110932.461485,получение дополнительного образования
4356,0,592.068159,20.0,высшее,0,гражданский брак,1,F,компаньон,0,89072.193150,свадьба
14289,0,250.777658,20.0,высшее,0,Не женат / не замужем,4,M,госслужащий,0,71105.377210,операции с жильем
10810,0,685.687432,20.0,среднее,1,Не женат / не замужем,4,M,компаньон,0,134220.617889,покупка жилой недвижимости
2039,0,139.504765,20.0,Неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,86927.446323,свой автомобиль
153,1,132.748536,20.0,среднее,1,женат / замужем,0,M,компаньон,1,134750.749515,жилье
18700,0,857.012356,20.0,среднее,1,гражданский брак,1,F,сотрудник,0,77543.352683,жилье
14575,0,889.694674,20.0,высшее,0,женат / замужем,0,F,сотрудник,0,88502.756488,ремонт жилью
11672,0,971.427335,20.0,среднее,1,Не женат / не замужем,4,M,сотрудник,0,143920.843799,на покупку своего автомобиля
10446,1,2194.220567,20.0,среднее,1,гражданский брак,1,F,сотрудник,0,145017.937533,на покупку подержанного автомобиля
3606,0,194.363369,20.0,среднее,1,женат / замужем,0,F,сотрудник,0,127165.956311,на покупку автомобиля
4983,0,512.816111,20.0,среднее,1,Не женат / не замужем,4,F,сотрудник,0,101512.989536,получение высшего образования
42,0,1257.496190,20.0,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065.089021,получение образования
14948,1,466.456541,20.0,среднее,1,Не женат / не замужем,4,M,сотрудник,0,198556.872375,покупка жилья для сдачи
3594,0,132.029178,20.0,среднее,1,Не женат / не замужем,4,F,сотрудник,0,200497.667624,получение образования
17751,0,493.666263,20.0,Среднее,1,Не женат / не замужем,4,M,компаньон,0,226947.057213,ремонт жилью
11887,1,880.528819,20.0,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,157984.823884,покупка жилья для сдачи
14768,0,565.815632,20.0,Среднее,1,гражданский брак,1,M,сотрудник,0,101702.201463,на покупку автомобиля
13014,0,494.028794,20.0,высшее,0,Не женат / не замужем,4,F,сотрудник,0,75907.227868,операции со своей недвижимостью
8046,0,950.576639,20.0,Среднее,1,Не женат / не замужем,4,M,сотрудник,0,219725.701611,покупка коммерческой недвижимости
12919,0,663.990526,20.0,СРЕДНЕЕ,1,женат / замужем,0,F,компаньон,0,164652.876683,на покупку своего автомобиля
2576,0,411.484918,20.0,СРЕДНЕЕ,1,гражданский брак,1,M,компаньон,1,124844.398406,покупка жилья
6344,0,1306.395530,20.0,среднее,1,в разводе,3,M,сотрудник,0,196348.262318,операции с жильем
9577,0,130.438734,20.0,среднее,1,гражданский брак,1,F,сотрудник,0,92233.028852,профильное образование

### Шаг 2.3. Изменение типов данных.

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21448 entries, 15659 to 8880
Data columns (total 12 columns):
children            21448 non-null int64
days_employed       21448 non-null float64
dob_years           21448 non-null float64
education           21448 non-null object
education_id        21448 non-null int64
family_status       21448 non-null object
family_status_id    21448 non-null int64
gender              21448 non-null object
income_type         21448 non-null object
debt                21448 non-null int64
total_income        21448 non-null float64
purpose             21448 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 2.1+ MB

In [53]:
data['total_income'] = data['total_income'].astype('int')
data['days_employed'] = data['days_employed'].astype('int')
data['dob_years'] = data['dob_years'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21448 entries, 15659 to 8880
Data columns (total 12 columns):
children            21448 non-null int64
days_employed       21448 non-null int64
dob_years           21448 non-null int64
education           21448 non-null object
education_id        21448 non-null int64
family_status       21448 non-null object
family_status_id    21448 non-null int64
gender              21448 non-null object
income_type         21448 non-null object
debt                21448 non-null int64
total_income        21448 non-null int64
purpose             21448 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

In [54]:
display(data.head(50))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
15659,0,948,19,Неоконченное высшее,2,гражданский брак,1,F,компаньон,0,167211,на покупку подержанного автомобиля
1981,0,724,19,СРЕДНЕЕ,1,Не женат / не замужем,4,F,компаньон,0,59124,свой автомобиль
2725,0,115,19,среднее,1,Не женат / не замужем,4,F,компаньон,0,131967,операции с коммерческой недвижимостью
11749,0,757,19,среднее,1,женат / замужем,0,F,компаньон,0,120759,покупка недвижимости
4098,0,111,19,среднее,1,гражданский брак,1,M,компаньон,0,91876,на проведение свадьбы
8316,0,556,19,среднее,1,Не женат / не замужем,4,F,сотрудник,0,68524,высшее образование
5563,0,885,19,неоконченное высшее,2,Не женат / не замужем,4,M,сотрудник,0,91098,покупка жилья для сдачи
10235,0,793,19,среднее,1,женат / замужем,0,F,сотрудник,0,131308,ремонт жилью
13021,0,695,19,неоконченное высшее,2,Не женат / не замужем,4,F,компаньон,0,165269,автомобили
9218,0,322,19,среднее,1,гражданский брак,1,F,компаньон,0,103676,сыграть свадьбу
766,0,796,19,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,80812,покупка жилья для сдачи
20230,0,509,19,неоконченное высшее,2,Не женат / не замужем,4,F,госслужащий,0,75787,покупка коммерческой недвижимости
12047,0,1020,19,среднее,1,Не женат / не замужем,4,M,сотрудник,1,93343,операции со своей недвижимостью
4052,0,2194,19,среднее,1,гражданский брак,1,M,сотрудник,0,145017,на проведение свадьбы
16781,0,215,20,среднее,1,гражданский брак,1,F,компаньон,0,102607,на проведение свадьбы
4386,0,946,20,среднее,1,женат / замужем,0,M,сотрудник,1,141297,строительство жилой недвижимости
6816,0,886,20,высшее,0,Не женат / не замужем,4,M,сотрудник,0,118423,покупка жилья
19541,0,908,20,Среднее,1,Не женат / не замужем,4,F,сотрудник,0,65626,жилье
1614,0,128,20,среднее,1,женат / замужем,0,F,компаньон,0,201818,ремонт жилью
18637,0,1197,20,неоконченное высшее,2,Не женат / не замужем,4,M,компаньон,0,100129,свой автомобиль
5677,1,341,20,неоконченное высшее,2,женат / замужем,0,F,компаньон,0,86565,получение дополнительного образования
12344,1,284,20,среднее,1,женат / замужем,0,M,сотрудник,0,136808,получение высшего образования
1974,0,1018,20,среднее,1,Не женат / не замужем,4,M,компаньон,0,155221,автомобиль
16893,0,2194,20,среднее,1,гражданский брак,1,F,сотрудник,0,145017,жилье
1816,1,2194,20,среднее,1,женат / замужем,0,M,сотрудник,0,145017,на покупку своего автомобиля
18277,0,943,20,неоконченное высшее,2,гражданский брак,1,F,сотрудник,0,132675,сделка с автомобилем
9294,0,119,20,высшее,0,Не женат / не замужем,4,F,компаньон,0,110932,получение дополнительного образования
4356,0,592,20,высшее,0,гражданский брак,1,F,компаньон,0,89072,свадьба
14289,0,250,20,высшее,0,Не женат / не замужем,4,M,госслужащий,0,71105,операции с жильем
10810,0,685,20,среднее,1,Не женат / не замужем,4,M,компаньон,0,134220,покупка жилой недвижимости
2039,0,139,20,Неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,86927,свой автомобиль
153,1,132,20,среднее,1,женат / замужем,0,M,компаньон,1,134750,жилье
18700,0,857,20,среднее,1,гражданский брак,1,F,сотрудник,0,77543,жилье
14575,0,889,20,высшее,0,женат / замужем,0,F,сотрудник,0,88502,ремонт жилью
11672,0,971,20,среднее,1,Не женат / не замужем,4,M,сотрудник,0,143920,на покупку своего автомобиля
10446,1,2194,20,среднее,1,гражданский брак,1,F,сотрудник,0,145017,на покупку подержанного автомобиля
3606,0,194,20,среднее,1,женат / замужем,0,F,сотрудник,0,127165,на покупку автомобиля
4983,0,512,20,среднее,1,Не женат / не замужем,4,F,сотрудник,0,101512,получение высшего образования
42,0,1257,20,неоконченное высшее,2,Не женат / не замужем,4,F,сотрудник,0,82065,получение образования
14948,1,466,20,среднее,1,Не женат / не замужем,4,M,сотрудник,0,198556,покупка жилья для сдачи
3594,0,132,20,среднее,1,Не женат / не замужем,4,F,сотрудник,0,200497,получение образования
17751,0,493,20,Среднее,1,Не женат / не замужем,4,M,компаньон,0,226947,ремонт жилью
11887,1,880,20,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,157984,покупка жилья для сдачи
14768,0,565,20,Среднее,1,гражданский брак,1,M,сотрудник,0,101702,на покупку автомобиля
13014,0,494,20,высшее,0,Не женат / не замужем,4,F,сотрудник,0,75907,операции со своей недвижимостью
8046,0,950,20,Среднее,1,Не женат / не замужем,4,M,сотрудник,0,219725,покупка коммерческой недвижимости
12919,0,663,20,СРЕДНЕЕ,1,женат / замужем,0,F,компаньон,0,164652,на покупку своего автомобиля
2576,0,411,20,СРЕДНЕЕ,1,гражданский брак,1,M,компаньон,1,124844,покупка жилья
6344,0,1306,20,среднее,1,в разводе,3,M,сотрудник,0,196348,операции с жильем
9577,0,130,20,среднее,1,гражданский брак,1,F,сотрудник,0,92233,профильное образование

### Шаг 2.4. Удаление дубликатов.

In [55]:
print(data.duplicated().sum())

55

In [56]:
data = data.drop_duplicates().reset_index(drop=True)

In [57]:
print(data.duplicated().sum())

0

In [58]:
data['education'] = data['education'].str.lower()
data['family_status'] = data['family_status'].str.lower()
data['income_type'] = data['income_type'].str.lower()
data['purpose'] = data['purpose'].str.lower()

In [59]:
print(data.duplicated().sum())

17

In [60]:
data = data.drop_duplicates().reset_index(drop=True)

In [61]:
print(data.duplicated().sum())

0

На первом этапе с помощью метода поиска явных дубликатов (полное совпадение строк) обработали даные и удалили данные строки, т.к. наличие дубликатов может значитеьно искажать финальный результат. Затем обработали столбцы "education", "family_status", "income_type", "purpose" ручным способом поиска дубликатов с учетом регистра, и затем повторили поиск явных дуликатов и удаление их файла с данными.

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21376 entries, 0 to 21375
Data columns (total 12 columns):
children            21376 non-null int64
days_employed       21376 non-null int64
dob_years           21376 non-null int64
education           21376 non-null object
education_id        21376 non-null int64
family_status       21376 non-null object
family_status_id    21376 non-null int64
gender              21376 non-null object
income_type         21376 non-null object
debt                21376 non-null int64
total_income        21376 non-null int64
purpose             21376 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [63]:
data_education = data[['education', 'education_id']]
data_family_status = data[['family_status', 'family_status_id']]
display(data_education)
display(data_family_status)

                 education  education_id
0      неоконченное высшее             2
1                  среднее             1
2                  среднее             1
3                  среднее             1
4                  среднее             1
...                    ...           ...
21371              среднее             1
21372              среднее             1
21373               высшее             0
21374              среднее             1
21375              среднее             1

[21376 rows x 2 columns]

               family_status  family_status_id
0           гражданский брак                 1
1      не женат / не замужем                 4
2      не женат / не замужем                 4
3            женат / замужем                 0
4           гражданский брак                 1
...                      ...               ...
21371        женат / замужем                 0
21372        женат / замужем                 0
21373        женат / замужем                 0
21374        женат / замужем                 0
21375         вдовец / вдова                 2

[21376 rows x 2 columns]

In [64]:
print(data_family_status.duplicated().sum())

21371

In [65]:
data_family_status = data_family_status.drop_duplicates().reset_index(drop=True)
print(data_family_status.duplicated().sum())
display(data_family_status)

0

           family_status  family_status_id
0       гражданский брак                 1
1  не женат / не замужем                 4
2        женат / замужем                 0
3              в разводе                 3
4         вдовец / вдова                 2

In [66]:
print(data_education.duplicated().sum())

21371

In [67]:
data_education = data_education.drop_duplicates().reset_index(drop=True)
print(data_education.duplicated().sum())
display(data_education)

0

             education  education_id
0  неоконченное высшее             2
1              среднее             1
2               высшее             0
3            начальное             3
4       ученая степень             4

In [68]:
data.drop(['education', 'family_status'], axis=1, inplace=True)
display(data.head(50))

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,0,948,19,2,1,F,компаньон,0,167211,на покупку подержанного автомобиля
1,0,724,19,1,4,F,компаньон,0,59124,свой автомобиль
2,0,115,19,1,4,F,компаньон,0,131967,операции с коммерческой недвижимостью
3,0,757,19,1,0,F,компаньон,0,120759,покупка недвижимости
4,0,111,19,1,1,M,компаньон,0,91876,на проведение свадьбы
5,0,556,19,1,4,F,сотрудник,0,68524,высшее образование
6,0,885,19,2,4,M,сотрудник,0,91098,покупка жилья для сдачи
7,0,793,19,1,0,F,сотрудник,0,131308,ремонт жилью
8,0,695,19,2,4,F,компаньон,0,165269,автомобили
9,0,322,19,1,1,F,компаньон,0,103676,сыграть свадьбу
10,0,796,19,2,0,F,сотрудник,0,80812,покупка жилья для сдачи
11,0,509,19,2,4,F,госслужащий,0,75787,покупка коммерческой недвижимости
12,0,1020,19,1,4,M,сотрудник,1,93343,операции со своей недвижимостью
13,0,2194,19,1,1,M,сотрудник,0,145017,на проведение свадьбы
14,0,215,20,1,1,F,компаньон,0,102607,на проведение свадьбы
15,0,946,20,1,0,M,сотрудник,1,141297,строительство жилой недвижимости
16,0,886,20,0,4,M,сотрудник,0,118423,покупка жилья
17,0,908,20,1,4,F,сотрудник,0,65626,жилье
18,0,128,20,1,0,F,компаньон,0,201818,ремонт жилью
19,0,1197,20,2,4,M,компаньон,0,100129,свой автомобиль
20,1,341,20,2,0,F,компаньон,0,86565,получение дополнительного образования
21,1,284,20,1,0,M,сотрудник,0,136808,получение высшего образования
22,0,1018,20,1,4,M,компаньон,0,155221,автомобиль
23,0,2194,20,1,1,F,сотрудник,0,145017,жилье
24,1,2194,20,1,0,M,сотрудник,0,145017,на покупку своего автомобиля
25,0,943,20,2,1,F,сотрудник,0,132675,сделка с автомобилем
26,0,119,20,0,4,F,компаньон,0,110932,получение дополнительного образования
27,0,592,20,0,1,F,компаньон,0,89072,свадьба
28,0,250,20,0,4,M,госслужащий,0,71105,операции с жильем
29,0,685,20,1,4,M,компаньон,0,134220,покупка жилой недвижимости
30,0,139,20,2,4,F,сотрудник,0,86927,свой автомобиль
31,1,132,20,1,0,M,компаньон,1,134750,жилье
32,0,857,20,1,1,F,сотрудник,0,77543,жилье
33,0,889,20,0,0,F,сотрудник,0,88502,ремонт жилью
34,0,971,20,1,4,M,сотрудник,0,143920,на покупку своего автомобиля
35,1,2194,20,1,1,F,сотрудник,0,145017,на покупку подержанного автомобиля
36,0,194,20,1,0,F,сотрудник,0,127165,на покупку автомобиля
37,0,512,20,1,4,F,сотрудник,0,101512,получение высшего образования
38,0,1257,20,2,4,F,сотрудник,0,82065,получение образования
39,1,466,20,1,4,M,сотрудник,0,198556,покупка жилья для сдачи
40,0,132,20,1,4,F,сотрудник,0,200497,получение образования
41,0,493,20,1,4,M,компаньон,0,226947,ремонт жилью
42,1,880,20,1,0,M,сотрудник,0,157984,покупка жилья для сдачи
43,0,565,20,1,1,M,сотрудник,0,101702,на покупку автомобиля
44,0,494,20,0,4,F,сотрудник,0,75907,операции со своей недвижимостью
45,0,950,20,1,4,M,сотрудник,0,219725,покупка коммерческой недвижимости
46,0,663,20,1,0,F,компаньон,0,164652,на покупку своего автомобиля
47,0,411,20,1,1,M,компаньон,1,124844,покупка жилья
48,0,1306,20,1,3,M,сотрудник,0,196348,операции с жильем
49,0,130,20,1,1,F,сотрудник,0,92233,профильное образование

### Шаг 2.6. Категоризация дохода.

In [69]:
def income_category(total_income):
    if total_income <= 30000:
        return 'E'
    if total_income <=50000:
        return 'D'
    if total_income <=200000:
        return 'C'
    if total_income <=1000000:
        return 'B'
    return 'A'

In [70]:
data['total_income_category'] = data['total_income'].apply(income_category)
print(data['total_income_category'].value_counts())

C    15959
B     5020
D      350
A       25
E       22
Name: total_income_category, dtype: int64

In [71]:
display(data.head(50))

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,0,948,19,2,1,F,компаньон,0,167211,на покупку подержанного автомобиля,C
1,0,724,19,1,4,F,компаньон,0,59124,свой автомобиль,C
2,0,115,19,1,4,F,компаньон,0,131967,операции с коммерческой недвижимостью,C
3,0,757,19,1,0,F,компаньон,0,120759,покупка недвижимости,C
4,0,111,19,1,1,M,компаньон,0,91876,на проведение свадьбы,C
5,0,556,19,1,4,F,сотрудник,0,68524,высшее образование,C
6,0,885,19,2,4,M,сотрудник,0,91098,покупка жилья для сдачи,C
7,0,793,19,1,0,F,сотрудник,0,131308,ремонт жилью,C
8,0,695,19,2,4,F,компаньон,0,165269,автомобили,C
9,0,322,19,1,1,F,компаньон,0,103676,сыграть свадьбу,C
10,0,796,19,2,0,F,сотрудник,0,80812,покупка жилья для сдачи,C
11,0,509,19,2,4,F,госслужащий,0,75787,покупка коммерческой недвижимости,C
12,0,1020,19,1,4,M,сотрудник,1,93343,операции со своей недвижимостью,C
13,0,2194,19,1,1,M,сотрудник,0,145017,на проведение свадьбы,C
14,0,215,20,1,1,F,компаньон,0,102607,на проведение свадьбы,C
15,0,946,20,1,0,M,сотрудник,1,141297,строительство жилой недвижимости,C
16,0,886,20,0,4,M,сотрудник,0,118423,покупка жилья,C
17,0,908,20,1,4,F,сотрудник,0,65626,жилье,C
18,0,128,20,1,0,F,компаньон,0,201818,ремонт жилью,B
19,0,1197,20,2,4,M,компаньон,0,100129,свой автомобиль,C
20,1,341,20,2,0,F,компаньон,0,86565,получение дополнительного образования,C
21,1,284,20,1,0,M,сотрудник,0,136808,получение высшего образования,C
22,0,1018,20,1,4,M,компаньон,0,155221,автомобиль,C
23,0,2194,20,1,1,F,сотрудник,0,145017,жилье,C
24,1,2194,20,1,0,M,сотрудник,0,145017,на покупку своего автомобиля,C
25,0,943,20,2,1,F,сотрудник,0,132675,сделка с автомобилем,C
26,0,119,20,0,4,F,компаньон,0,110932,получение дополнительного образования,C
27,0,592,20,0,1,F,компаньон,0,89072,свадьба,C
28,0,250,20,0,4,M,госслужащий,0,71105,операции с жильем,C
29,0,685,20,1,4,M,компаньон,0,134220,покупка жилой недвижимости,C
30,0,139,20,2,4,F,сотрудник,0,86927,свой автомобиль,C
31,1,132,20,1,0,M,компаньон,1,134750,жилье,C
32,0,857,20,1,1,F,сотрудник,0,77543,жилье,C
33,0,889,20,0,0,F,сотрудник,0,88502,ремонт жилью,C
34,0,971,20,1,4,M,сотрудник,0,143920,на покупку своего автомобиля,C
35,1,2194,20,1,1,F,сотрудник,0,145017,на покупку подержанного автомобиля,C
36,0,194,20,1,0,F,сотрудник,0,127165,на покупку автомобиля,C
37,0,512,20,1,4,F,сотрудник,0,101512,получение высшего образования,C
38,0,1257,20,2,4,F,сотрудник,0,82065,получение образования,C
39,1,466,20,1,4,M,сотрудник,0,198556,покупка жилья для сдачи,C
40,0,132,20,1,4,F,сотрудник,0,200497,получение образования,B
41,0,493,20,1,4,M,компаньон,0,226947,ремонт жилью,B
42,1,880,20,1,0,M,сотрудник,0,157984,покупка жилья для сдачи,C
43,0,565,20,1,1,M,сотрудник,0,101702,на покупку автомобиля,C
44,0,494,20,0,4,F,сотрудник,0,75907,операции со своей недвижимостью,C
45,0,950,20,1,4,M,сотрудник,0,219725,покупка коммерческой недвижимости,B
46,0,663,20,1,0,F,компаньон,0,164652,на покупку своего автомобиля,C
47,0,411,20,1,1,M,компаньон,1,124844,покупка жилья,C
48,0,1306,20,1,3,M,сотрудник,0,196348,операции с жильем,C
49,0,130,20,1,1,F,сотрудник,0,92233,профильное образование,C

### Шаг 2.7. Категоризация целей кредита.

In [72]:
print(data['purpose'].value_counts())

свадьба                                   790
на проведение свадьбы                     763
сыграть свадьбу                           761
операции с недвижимостью                  674
покупка коммерческой недвижимости         658
покупка жилья для сдачи                   650
операции с жильем                         648
операции с коммерческой недвижимостью     646
покупка жилья                             643
жилье                                     642
покупка жилья для семьи                   637
недвижимость                              632
строительство собственной недвижимости    629
операции со своей недвижимостью           626
строительство жилой недвижимости          623
покупка своего жилья                      620
строительство недвижимости                619
покупка недвижимости                      618
ремонт жилью                              605
покупка жилой недвижимости                604
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                493
сделка с подержанным автомобилем          482
автомобили                                477
свой автомобиль                           475
на покупку подержанного автомобиля        472
на покупку автомобиля                     470
приобретение автомобиля                   461
дополнительное образование                457
сделка с автомобилем                      455
высшее образование                        447
получение дополнительного образования     445
образование                               445
получение образования                     441
профильное образование                    434
получение высшего образования             425
заняться образованием                     408
Name: purpose, dtype: int64

In [73]:
def new_purpose(cell):
    purpose_dictionary = {'операции с недвижимостью': ['недвижимостью', 'недвижимости', 'жилья', 'жильем', 'недвижимость', 'жилье'],
                         'операции с автомобилем': ['автомобиля', 'автомобиль', 'автомобилем', 'автомобили'],
                         'проведение свадьбы': ['свадьба', 'свадьбы', 'свадьбу'],
                         'получение образования':['образованием', 'образование', 'образования'],
                         'ремонт':['ремонт']}
    for category, synonym in purpose_dictionary.items():
        for syn in synonym:
            if syn in cell: 
                return category
    return None
data['purpose_category'] = data['purpose'].apply(new_purpose)
data[['purpose', 'purpose_category']]

                                     purpose          purpose_category
0         на покупку подержанного автомобиля    операции с автомобилем
1                            свой автомобиль    операции с автомобилем
2      операции с коммерческой недвижимостью  операции с недвижимостью
3                       покупка недвижимости  операции с недвижимостью
4                      на проведение свадьбы        проведение свадьбы
...                                      ...                       ...
21371        операции со своей недвижимостью  операции с недвижимостью
21372                             автомобили    операции с автомобилем
21373                   покупка своего жилья  операции с недвижимостью
21374             покупка жилой недвижимости  операции с недвижимостью
21375                  заняться образованием     получение образования

[21376 rows x 2 columns]

In [74]:
print(data['purpose_category'].value_counts())

операции с недвижимостью    10169
операции с автомобилем       4290
получение образования        3998
проведение свадьбы           2314
ремонт                        605
Name: purpose_category, dtype: int64

In [75]:
display(data.head(50))

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,0,948,19,2,1,F,компаньон,0,167211,на покупку подержанного автомобиля,C,операции с автомобилем
1,0,724,19,1,4,F,компаньон,0,59124,свой автомобиль,C,операции с автомобилем
2,0,115,19,1,4,F,компаньон,0,131967,операции с коммерческой недвижимостью,C,операции с недвижимостью
3,0,757,19,1,0,F,компаньон,0,120759,покупка недвижимости,C,операции с недвижимостью
4,0,111,19,1,1,M,компаньон,0,91876,на проведение свадьбы,C,проведение свадьбы
5,0,556,19,1,4,F,сотрудник,0,68524,высшее образование,C,получение образования
6,0,885,19,2,4,M,сотрудник,0,91098,покупка жилья для сдачи,C,операции с недвижимостью
7,0,793,19,1,0,F,сотрудник,0,131308,ремонт жилью,C,ремонт
8,0,695,19,2,4,F,компаньон,0,165269,автомобили,C,операции с автомобилем
9,0,322,19,1,1,F,компаньон,0,103676,сыграть свадьбу,C,проведение свадьбы
10,0,796,19,2,0,F,сотрудник,0,80812,покупка жилья для сдачи,C,операции с недвижимостью
11,0,509,19,2,4,F,госслужащий,0,75787,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,1020,19,1,4,M,сотрудник,1,93343,операции со своей недвижимостью,C,операции с недвижимостью
13,0,2194,19,1,1,M,сотрудник,0,145017,на проведение свадьбы,C,проведение свадьбы
14,0,215,20,1,1,F,компаньон,0,102607,на проведение свадьбы,C,проведение свадьбы
15,0,946,20,1,0,M,сотрудник,1,141297,строительство жилой недвижимости,C,операции с недвижимостью
16,0,886,20,0,4,M,сотрудник,0,118423,покупка жилья,C,операции с недвижимостью
17,0,908,20,1,4,F,сотрудник,0,65626,жилье,C,операции с недвижимостью
18,0,128,20,1,0,F,компаньон,0,201818,ремонт жилью,B,ремонт
19,0,1197,20,2,4,M,компаньон,0,100129,свой автомобиль,C,операции с автомобилем
20,1,341,20,2,0,F,компаньон,0,86565,получение дополнительного образования,C,получение образования
21,1,284,20,1,0,M,сотрудник,0,136808,получение высшего образования,C,получение образования
22,0,1018,20,1,4,M,компаньон,0,155221,автомобиль,C,операции с автомобилем
23,0,2194,20,1,1,F,сотрудник,0,145017,жилье,C,операции с недвижимостью
24,1,2194,20,1,0,M,сотрудник,0,145017,на покупку своего автомобиля,C,операции с автомобилем
25,0,943,20,2,1,F,сотрудник,0,132675,сделка с автомобилем,C,операции с автомобилем
26,0,119,20,0,4,F,компаньон,0,110932,получение дополнительного образования,C,получение образования
27,0,592,20,0,1,F,компаньон,0,89072,свадьба,C,проведение свадьбы
28,0,250,20,0,4,M,госслужащий,0,71105,операции с жильем,C,операции с недвижимостью
29,0,685,20,1,4,M,компаньон,0,134220,покупка жилой недвижимости,C,операции с недвижимостью
30,0,139,20,2,4,F,сотрудник,0,86927,свой автомобиль,C,операции с автомобилем
31,1,132,20,1,0,M,компаньон,1,134750,жилье,C,операции с недвижимостью
32,0,857,20,1,1,F,сотрудник,0,77543,жилье,C,операции с недвижимостью
33,0,889,20,0,0,F,сотрудник,0,88502,ремонт жилью,C,ремонт
34,0,971,20,1,4,M,сотрудник,0,143920,на покупку своего автомобиля,C,операции с автомобилем
35,1,2194,20,1,1,F,сотрудник,0,145017,на покупку подержанного автомобиля,C,операции с автомобилем
36,0,194,20,1,0,F,сотрудник,0,127165,на покупку автомобиля,C,операции с автомобилем
37,0,512,20,1,4,F,сотрудник,0,101512,получение высшего образования,C,получение образования
38,0,1257,20,2,4,F,сотрудник,0,82065,получение образования,C,получение образования
39,1,466,20,1,4,M,сотрудник,0,198556,покупка жилья для сдачи,C,операции с недвижимостью
40,0,132,20,1,4,F,сотрудник,0,200497,получение образования,B,получение образования
41,0,493,20,1,4,M,компаньон,0,226947,ремонт жилью,B,ремонт
42,1,880,20,1,0,M,сотрудник,0,157984,покупка жилья для сдачи,C,операции с недвижимостью
43,0,565,20,1,1,M,сотрудник,0,101702,на покупку автомобиля,C,операции с автомобилем
44,0,494,20,0,4,F,сотрудник,0,75907,операции со своей недвижимостью,C,операции с недвижимостью
45,0,950,20,1,4,M,сотрудник,0,219725,покупка коммерческой недвижимости,B,операции с недвижимостью
46,0,663,20,1,0,F,компаньон,0,164652,на покупку своего автомобиля,C,операции с автомобилем
47,0,411,20,1,1,M,компаньон,1,124844,покупка жилья,C,операции с недвижимостью
48,0,1306,20,1,3,M,сотрудник,0,196348,операции с жильем,C,операции с недвижимостью
49,0,130,20,1,1,F,сотрудник,0,92233,профильное образование,C,получение образования

### Ответы на вопросы.

##### Вопрос 1:

In [76]:
report = data.pivot_table(index='children', columns='debt', values = 'total_income', aggfunc = 'count').fillna(0)
report.columns = ['Нет задолженности', 'Задолженность']
report['%'] = report['Задолженность'] / (report['Задолженность'] + report['Нет задолженности'])
report = report.sort_values(by=['%'], ascending=False)
display(report.style.format({'%': '{:.2%}', 'Задолженность': '{:.0f}', 'Нет задолженности': '{:.0f}'}))

##### Вывод 1:

Изходя из полученных данных - риски по невозврату кредита повышаются с появлением детей в с6емьях заемщиков. Но при этом можно заметить тенденцию - чем больше детей у заемщика, тем реже он обращается за получением кредита

#### Вопрос 2:

In [83]:
data_family_status['family_status'] = data_family_status['family_status'].str.lower()
data_family_status = data_family_status.drop_duplicates()
report_2 = data.pivot_table(index='family_status_id', columns='debt', values = 'purpose', aggfunc = 'count').fillna(0)
report_2.columns = ['Нет задолженности', 'Задолженность']
report_2['%'] = report_2['Задолженность'] / (report_2['Задолженность'] + report_2['Нет задолженности'])*100
data_family_status.merge(report_2, on = 'family_status_id')

,family_status,family_status_id,Нет задолженности,Задолженность,%
0,гражданский брак,1,3752,385,9.306261
1,не женат / не замужем,4,2528,273,9.746519
2,женат / замужем,0,11362,928,7.550854
3,в разводе,3,1109,84,7.041073
4,вдовец / вдова,2,892,63,6.596859

##### Вывод 2:

На основе полученных данных можно сделать вывод, что кредиты чаще всего берут заемщики находящиеся в законном браке. Но при этом по отношению колличества выданных кредитов и кредитов по которым есть просроченная задолженность - заемщики имеющие статус "женат / замужем" являются более надежными

##### Вопрос 3:

In [81]:
report_3 = data.pivot_table(index='total_income_category', columns='debt', values = 'total_income', aggfunc = 'count').fillna(0)
report_3.columns = ['Нет задолженности', 'Задолженность']
report_3['%'] = report_3['Задолженность'] / (report_3['Задолженность'] + report_3['Нет задолженности'])
report_3 = report_3.sort_values(by=['total_income_category'])
display(report_3.style.format({'%': '{:.2%}'}))

##### Вывод 3:

На основе полученных данных можно сделать вывод - чаще всего за кредитами обращаются заемщики имеющие средний доход (50001–200000). Но при этом более надежными заемщиками являеются заемщики с доходом - 30001–50000

##### Вопрос 4:

In [82]:
report_4 = data.pivot_table(index='purpose_category', columns='debt', values = 'total_income', aggfunc = 'count').fillna(0)
report_4.columns = ['Нет задолженности', 'Задолженность']
report_4['%'] = report_4['Задолженность'] / (report_4['Задолженность'] + report_4['Нет задолженности'])
report_4 = report_4.sort_values(by=['%'], ascending=False)
display(report_4.style.format({'%': '{:.2%}'}))

##### Вывод 4:

На основе полученных данных можно сделать вывод, что самыми надежными кредитами с точки зрения имеющийся по ним просроченной задолженности, являются кредиты полученные на приобретение недвижимости. Возможно это связано, что данный вид кредита обеспечен передачей в залог банку, приобретенной на кредитные средства недвижимости. Кредиты на ремонт трудно оценить как наиболее надежные, так как их доля в общем колличестве выданных займов не велика.

## Общий вывод:

На основе полученных данных можно сделать следующие выводы:
- самыми надежными заемщиками являются заемщики со статусом "женат / замужем" процент заемщиков имеющих просрочку по платежам в данной категории составляет 7,55%, тогда как самый большой процент просроченной задолженности имеют клиенты со статусом "не женат / не замужем - 9,74%
- самый низкий процент невозврата кредита в срок у заемщиков не имеющих детей - 7,54%. Видна тенденция, что с появлением в семье каждого последующего ребенка риск появления просроченной задолженности по кредиту возрастает, так у заемщиков имеющих в семье 4-х детей процент просроченной задолженности составляет - 9,74%. Также видна тендениция, что с появлением в семье каждого последущего ребенка, кредиты берут реже.
- самый низкий процент просроченной задолженности по кредитам выданным на приобретение недвижимости - 7,33%, в первую очередь это связано с тем, что такие кредиты являются обеспеченными (объект недвижимости находится в залоге у банка до полного погашения кредита). Сымый высоких процент просроченной задолженности по кредитам полученным на приобретение автомобиля - 9,35%
- Чаще всего за кредитом обращаютя клиенты имеющие средний уровень дохода - 50001–200000. При этом самый низкий процент просроченной задолженнити имеют клиенты с доходом - 30001–50000 - 6%